{{!-- {{#if productos.length > 0}} --}} {{!-- FALTA IMPLEMENTAR IF ELSE --}}
{{#if productos}}
<div class="table-responsive">
    <h3>Vista productos</h3>
    <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Nombre</th>
            <th>Precio</th>
            <th>URL imagen</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>
                {{nombre}}
            </td>
            <td>
                {{precio}}
            </td>
            <td>
                <img src={{URL}} alt="Imagen del producto" width="100px">
            </td>
        </tr>
        {{/each}}
    </table>

    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Volver al formulario</button>
</div>
{{else}}
<h3 class="alert alert-danger">No se encontraron productos</h1>
    {{/if}}